<%- include('./templates/header.ejs') %>

<div class="container">
    <form action="/add-car" method="POST">
        <div class="form-group">
            <label>Марка</label>
            <input type="text" class="form-control" name="brand" placeholder="Введите марку автомобиля">
          </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Модель</label>
          <input type="text" class="form-control" name="model" placeholder="Введите модель автомобиля" id="exampleInputPassword1">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Год выпуска</label>
            <input type="text" class="form-control" name="year_of_issue" placeholder="Введите год выпуска автомобиля" id="exampleInputPassword1">
          </div>
        <button type="submit" class="btn btn-primary">Добавить авто</button>
      </form>
</div>

<%-include('./templates/header.ejs') %>